
.plans-bg-image {
    background-image: url('../asset/gallary-bg.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Add this line */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


/* //////////////////////////////////////////////////////// */
.icon-area{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* /////////////////////////////////////////////// */
.gallary-image{
    height: 250px;
    width: 150px;
    border-radius: 14px;
    /* border: 1px solid black; */
    background-image: url('../asset/1.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.gallary-image .rating{
    position: relative;
    bottom: -220px;
    background-color: #b60e0e;
    width: 50px;
    padding-inline: 3px;
    border-radius: 18px;
    margin: 4px;
}

/* ////////////////// */
.image-grid-col-1{
    height: 250px;
    background-image: url('../asset/work/house1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}
.image-grid-col-2{
    height: 250px;
    background-image: url('../asset/work/house7.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}
.image-grid-col-3{
    height: 250px;
    background-image: url('../asset/work/house2.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}
.image-grid-col-4{
    height: 250px;
    background-image: url('../asset/work/house8.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}
.image-grid-col-5{
    height: 250px;
    background-image: url('../asset/work/house5.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}
.image-grid-col-6{
    height: 250px;
    background-image: url('../asset/work/house4.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}
.image-grid-col-7{
    height: 250px;
    background-image: url('../asset/work/house3.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}
.image-grid-col-8{
    height: 250px;
    background-image: url('../asset/work/interion2.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}
.image-grid-col-9{
    height: 250px;
    background-image: url('../asset/work/interion8.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}
.image-grid-col-10{
    height: 250px;
    background-image: url('../asset/work/interion3.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}
.image-grid-col-11{
    height: 250px;
    background-image: url('../asset/work/interion4.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}
.image-grid-col-12{
    height: 250px;
    background-image: url('../asset/work/interion5.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

@media (max-width: 768px) {
    .image-grid-col-1 {
        height: 150px;
    }
    .gallary-image .rating{
        position: relative;
        bottom: -220px;
        background-color: #b60e0e;
        width: 60px;
        padding-inline: 3px;
        border-radius: 18px;
        margin: 4px;
    }
}

/* ////////////// */

.center-content{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}